body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #fbc2eb, #a18cd1);
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-image: url('marriage.jpg.jpg'), url('marriage.jpg');
    background-size: cover, cover;
    background-position: center, center;

}
h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
#countdown {
    font-size: 2rem;
    display: flex;
    gap: 1rem;
}
.time {
    text-align: center;
}
.number {
    font-size: 4rem;
    font-weight: bold;
}
.label {
    text-transform: uppercase;
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    body {
        background-size: contain, contain;
        background-position: center, center;
    }
}

@media (min-width: 769px) {
    body {
        background-size: cover, contain;
        background-position: center, center;
    }
}
